# Sender email address
EMAIL_HOST_USER=SENDER_EMAIL
EMAIL_HOST_PASSWORD=SENDER_EMAIL_APP_PASSWORD

# Postgre-Password
DB_PASSWORD=POSTRGRE_PASSWORD

# Your django key
SECRET_KEY=DJANGO_SECRET_KEY

# Instamojo Credentials 
API_PRIVATE_KEY=INSTAMOJO_PRIVATE_API_KEY
AUTH_PRIVATE_TOKEN=INSTAMOJO_PRIVATE_AUTH_TOKEN
PRIVATE_SALT=INSTAMOJO_PRIVATE_SALT

# All of this is available on cloudinary dashboard
cloud_name=CLOUDINARY_CLOUD_NAME
api_key=CLOUDINARY_API_KEY
api_secret=CLOUDINARY_API_SECRET

CLOUDINARY_URL=CLOUDINARY_URL